
#affich_result{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #333;
    margin: 20px;
    color: white;
    cursor: pointer;
}
.bt{
    width: 200px;
    display: none;
    transition: 1s;
    /* display: none; */
}
#div_bt_click{
    display: flex;
flex-direction: column;
}
#div_bt_cps{
    display: flex;
    flex-direction: column;

}
#div_bt{
    display: flex;
}