#bt_1{
    width: 100px;
    display: none;
}
#bt_10{
    width: 100px;
    display: none;

}#bt_100{
    width: 100px;
    display: none;
}
.bt{
    width: 100px;
    display: none;
}
#affich_result{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #333;
    margin: 20px;
    color: white;
    cursor: pointer;
}
#affich_result:hover{
    box-shadow: 0px 0px 11px #00ddff;
}